<h2> Definiciones de Estado </h2>
<p> En el siguiente apartado se explican los distintos estados de ciclo de trabajo de la grúa. Los estados que se explican por sí solos tales como cambio de turno, colación, etc. no están incluidos en las definiciones descritas más abajo.</p>

<h2> Tiempo Disponible </h2>

<h3>Tiempo Efectivo </h3>
<ul>
<li>Traslado: este estado considera los tiempos de traslado desde y hacia el punto de trabajo programado</li>
<li>Instalación y Armado: este estado incluye el tiempo de instalación y armado de contrapeso y su operación inversa</li>
<li>Levante: esta etapa incluye el tiempo requerido para el desplazamiento en forma vertical de la carga desde una cota a otra</li>
<li>Carga de Contrapeso: es el tiempo requerido para realizar la maniobra de izaje para carga de contrapesos, sobre camión cama baja, para transportarlos al punto de trabajo.</li>
</ul>

<h3> Pérdidas Operacionales </h3>
<ul>
<li> Espera de Cliente: desde que el equipo se encuentra en el punto de encuentro programado, este estado mide el tiempo en que el equipo de levante (grúa y operador) toma contacto con el cliente solicitante. </li>
<li> Firma de documentos, este estado mide el tiempo requerido para el desarrollo de toma 5, IS, lista de verificación, plan de izaje y check list de preuso correspondientes. </li>
<li> Espera entre izaje, mide el tiempo del equipo de levante (operador y grúa) entre izaje n°1 e izaje n°2 </li>
<li> Firma Izaje Complejo: es el tiempo entre que el izaje se define como izaje complejo hasta que es autorizado como tal por un supervisor de operaciones de levante MEL </li>
<li> Espera de Contrapeso: es el tiempo asociado a disponibilidad de transporte y el traslado de los contrapesos. </li>
<li> Sin Cuadrilla: Es el tiempo asociado a la espera del operador, con grúa en punto de trabajo, de la asignación de rigger y vienteros por parte del cliente interno para el apoyo de las actividades de izaje. </li>
<li> Falta de Escolta: Es el tiempo de espera del operador, con grúa en puesto de trabajo, del apoyo de escolta aporte del cliente para traslados internos. </li>
</ul>

<h3> Demoras </h3>
<ul>
<li> No. Programado </li>
<li> Recepción de Combustible, es el tiempo requerido para cargar la grúa de combustible por un camión abastecedor de un tercero en el punto de trabajo. </li>
</ul>

<h3> Reservas </h3>
<ul>
<li> Sin Operador: es el tiempo que el equipo estando electromecánicamente disponible para su uso no está operando por la ausencia de operador </li>
<li> Sin Tarea: es el tiempo que el equipo estando electromecánicamente disponible para su uso no está operando por la no asignación de tareas. </li>
</ul>

<h2> Tiempo No Disponible </h2>
<h3> Programado </h3>
<ul>
Certificación: incluye certificación del equipo, pruebas de carga, ensayos no destructivos.
</ul>

<h3> Imprevistos </h3>
<ul>
<li> Daños de equipos: incidente o accidente con resultado de daño de equipo. </li>
<li> Falla de equipos: fallas asociadas al desgaste propio del uso del equipo </li>
<li> Falla Operacional: es una falla no asociada ni a mantenimiento o daño de equipo, generalmente relacionado con el bloqueo de los sistemas por ingreso erróneo de datos de programación. </li>
</ul>
