<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Horas de Uso</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/manual"> Instructivo</a></li>
        <li><a routerLink="/gruas"> Gruas </a></li>
       <!--  <li><a routerLink="/grua49"> GP-49 </a></li>
        <li><a routerLink="/grua54"> GP-54 </a></li> -->
      </ul>
    </div>
</nav>
