<div class="table-responsive-lg"> 
<table class="table table-striped">
  <thead >
    <tr>
      <th [ngStyle]="{'background-color': 'rgb(' + 150 + ',' + 125 + ',' + 105 +')','color': 'white','text-align': 'center'}" colspan="13">Datos Iniciales</th>
      <th [ngStyle]="{'background-color': 'rgb(' + 150 + ',' + 125 + ',' + 105 +')','color': 'white','text-align': 'center'}" colspan="28">Grúa Operación</th>
    </tr>
    <tr>
      <th [ngStyle]="{'background-color': 'rgb(' + 150 + ',' + 125 + ',' + 105 +')','color': 'white','text-align': 'center'}" colspan="13"></th>
      <th [ngStyle]="{'background-color': 'rgb(' + 146 + ',' + 185 + ',' + 189 +')','color': 'white','text-align': 'center'}" colspan="20">Tiempo Disponible</th>
      <th [ngStyle]="{'background-color': 'rgb(' + 146 + ',' + 185 + ',' + 189 +')','color': 'white','text-align': 'center'}" colspan="20">Tiempo No Disponible</th>
    </tr>
    <tr>
      <th [ngStyle]="{'background-color': 'rgb(' + 150 + ',' + 125 + ',' + 105 +')','color': 'white','text-align': 'center'}" colspan="13"></th>
      <th [ngStyle]="{'background-color': 'rgb(' + 168 + ',' + 212 + ',' + 173 +')','color': 'white','text-align': 'center'}"colspan="18">Tiempo Operativo</th>
      <th [ngStyle]="{'background-color': 'rgb(' + 150 + ',' + 125 + ',' + 105 +')','color': 'white','text-align': 'center'}"colspan="2">Reservas</th>
      <th [ngStyle]="{'background-color': 'brown','color': 'white','text-align': 'center'}"colspan="3">Programado</th>
      <th [ngStyle]="{'background-color': 'brown','color': 'white','text-align': 'center'}"colspan="5">Imprevisto</th>
    </tr>
    <tr>
      <th class="text-center" colspan="12"></th>
      <th class="text-center" colspan="5">Tiempo Efectivo</th>
      <th class="text-center" colspan="7">Pérdidas Operacionales</th>
      <th class="text-center" colspan="6">Demoras</th>
      <th class="text-center" colspan="10"></th>
    </tr>
    <tr>
      <th class="text-center" colspan="24"></th>
      <th class="text-center" colspan="3">Programada</th>
      <th class="text-center" colspan="3">No Programada</th>
      <th class="text-center" colspan="10"></th>
    </tr>
  <tr>
    <th *ngFor="let col of columns" [ngStyle]="{'background-color': 'rgb(' + 232 + ',' + 236 + ',' + 103 +')','color': 'black','text-align': 'center'}">
      {{col}}
    </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let char of characters | async">
    <td class="text-center" *ngFor="let col of columns">
      {{char[col]}}
    </td>
  </tr>
</tbody>
</table>
</div>
